<h1 class="page-header">{{dataList.title}}</h1>
<ul class="list-group">
  <li class="list-group-item" >
		<div class="media">
			  <div class="media-left media-middle">
			    <a href="#">
			      <img class="media-object" ng-src="{{dataList.images.large}}" alt="{{item.title}}">
			    </a>
			  </div>
			  <div class="media-body">
			    <p>
			    	上映时间：
			    	<strong >{{dataList.year}}</strong>
			    </p>
			    <p>
			    	剧情：
			    	<strong >{{dataList.summary}}</strong>
			    </p>
			  </div>
		</div>
  </li>
</ul>
<div class="spinner" ng-show="isLoading">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>